extend layout

block main
    div.container-sm
        div.bg-light
            div.row
                div.col 
                    div.p-5
                        div.container
                            h1.text-center=categoryActive.cat_name
                    div.container
                        form(action="../cat_" + cat_id + "/post/create" method="GET")
                            .d-grid.gap-2
                                button.btn.btn-primary.btn-sm(type='submit') Nouvel article
            div.row.mt-5
                div.col
                        each postToRow, index in posts_l
                            div.container
                                .card.border-dark.mb-3(style='max-width: 85rem;')
                                    .card-header
                                        a(href="/cat_" + posts_l[index].cat_id + "/post/" + posts_l[index].id)
                                            h3=posts_l[index].name
                                        if !categoryActive
                                            span.badge.rounded-pill.bg-primary=posts_l[index].cat_name
                                        span.badge.rounded-pill.bg-primary=posts_l[index].login
                                        span.badge.bg-secondary=posts_l[index].post_date
                                        span.badge.bg-secondary=posts_l[index].votes
                                            |   Votes
                                    .card-body.text-dark
                                        p=posts_l[index].content