extend layout

block main
    div.container-sm
            div.col
                div.bg-light.p-5
                    div.container
                        h1.text-center=categoryActive ? categoryActive.cat_name : "Accueil"

                    div.container
                        div.row
                            div.col
                                h2.p-5 Posts avec le plus d'interactions des dernières 24 heures
                                each postToRow, index in posts_l
                                    .card.border-dark.mb-3(style='max-width: 36rem;')
                                        .card-header.border-dark
                                            a(href="/cat_" + posts_l[index].cat_id + "/post/" + posts_l[index].id)
                                                h3=posts_l[index].name
                                            if !categoryActive
                                            span.badge.rounded-pill.bg-primary=posts_l[index].cat_name
                                            span.badge.rounded-pill.bg-primary=posts_l[index].login
                                            span.badge.bg-secondary=posts_l[index].post_date
                                            span.badge.bg-secondary=posts_l[index].votes
                                                |   Votes
                                        .card-body
                                            p=posts_l[index].content
                            div.col    
                                h2.p-5 Ce que vous avez manqué
                                //each postToRow, index in posts_l
                                    div.p-1                       
                                        .a(href="/cat_" + posts_l[index].cat_id + "/post/" + posts_l[index].id)
                                            h3=posts_l[index].name
                                        if !categoryActive
                                            span.badge.rounded-pill.bg-primary=posts_l[index].cat_name
                                        span.badge.rounded-pill.bg-primary=posts_l[index].login
                                        span.badge.bg-secondary=posts_l[index].post_date
                                        span.badge.bg-secondary=posts_l[index].votes
                                            |   Votes